@font-face {
    font-family: "NanumSquareRoundL";
    font-display: fallback;

    src: url("/public/fonts/NanumSquareRoundL.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareRoundR";
    font-display: fallback;

    src: url("/public/fonts/NanumSquareRoundR.ttf") format("truetype");
}





@font-face {
    font-family: "NanumGothic";
    font-display: fallback;

    src: url("/public/fonts/NanumGothic.ttf") format("truetype");
}







@font-face {
    font-family: "NanumSquareL";
    font-display: fallback;

    src: url("/public/fonts/NanumSquareL.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareR";
    font-display: fallback;

    src: url("/public/fonts/NanumSquareR.ttf") format("truetype");
}
