#footer {
    /* font-family: "NanumGothic"; */
}
#footer {
    font-size: 12px;
}

/* PC 화면 */
@media screen and (min-width: 1000px) {
    hr {
        margin: 0 0 15px 0 !important;
        width: 100%;
    }

    #footer {
        margin-bottom: 15px;
        text-align: center;
    }

    #footer span {
        font-weight: 600;
    }
}

/* Mobile 화면 */
@media screen and (max-width: 1000px) {
    hr {
        margin: 0 0 10px 0 !important;
        width: 100%;
    }

    #footer {
        margin-bottom: 10px;
        text-align: center;
    }

    #footer span {
        font-weight: 600;
    }
}

/* Tiny Mobile 화면 */
@media screen and (max-width: 500px) {
    hr {
        width: 100%;
    }
}
