
#intro_image_wrap .row {
    margin: 0px;
}
#intro_image_wrap .row div {
    padding: 0px;
}

.explain {
    font-size: 20px;
}
#introduce_title {
    font-size: 22px;
}

/* PC 화면 */
@media screen and (min-width: 1200px) {
    .explain {
        margin: 10px 17% 50px 17%;
        /*font-size: 20px;*/
        /*line-height: 40px;*/
    }
    #introduce_title {
        /*font-size: 22px;*/
        margin: 0;
        font-family: "NanumGothic";
        position: relative;
        top:-40px;
    }
    #introduce_title svg {
        font-size: 30px !important;
    }
    #intro_image_wrap {
        width: 100%;
        text-align: left;
        font-family: "NanumGothic";
    }
}

/* Tablet 화면 */
@media screen and (max-width: 1200px) {
    .explain {
        margin: 10px 20px 50px 20px;
        /*font-size: 18px;*/
        /*line-height: 30px;*/
    }
    #introduce_title {
        /*font-size: 20px;*/
        margin: 0;
        font-family: "NanumGothic";
        position: relative;
        top:-40px;
    }
    #introduce_title svg {
        font-size: 30px !important;
    }
    #intro_image_wrap {
        width: 100%;
        text-align: left;
        font-family: "NanumGothic";
    }
}

/* Mobile 화면 */
@media screen and (max-width: 1000px) {
    .explain {
        margin: 10px 20px 50px 20px;
        /*font-size: 16px;*/
        /*line-height: 30px;*/
    }
    #introduce_title {
        /*font-size: 18px;*/
        margin: 0;
        font-family: "NanumGothic";
        position: relative;
        top:-20px;
    }
    #introduce_title svg {
        font-size: 25px !important;
    }
    #intro_image_wrap {
        width: 100%;
        text-align: left;
        font-family: "NanumGothic";
    }
}

/* Tiny Mobile 화면 */
@media screen and (max-width: 500px) {
    .explain {
        margin: 10px 20px 40px 20px;
        /*font-size: 14px;*/
        /*line-height: 25px;*/
    }
    #introduce_title {
        /*font-size: 16px;*/
        margin: 0;
        font-family: "NanumGothic";
        position: relative;
        top:-20px;
    }
    #introduce_title svg {
        font-size: 20px !important;
    }
    #intro_image_wrap {
        width: 100%;
        text-align: left;
        font-family: "NanumGothic";
    }
}