#notice_wrap {
    font-family: "Oneprettynight";
}
#notice_wrap button {
    color: black;
}
.menu_title {
     font-size: 22px;
     font-weight: 800;
     text-align: left;
 }


/* Notice Detail */
#notice_detail table {
    width: 100%;
}
#notice_detail table th {
    font-weight: 400;
    /*border-top: 1px solid #c4c4c4;*/
    /*border-bottom: 1px solid #c4c4c4;*/
    padding: 10px 10px;
    font-size: 20px;
}
#notice_detail table td {
    font-weight: 400;
    /*border-bottom: 1px solid #c4c4c4;*/
    padding: 10px 10px;
    font-size: 20px;
}
#notice_detail .detail_title {
    text-align: left;
    font-size: 25px;
    font-weight: 800;
    padding: 20px 10px;
}
#notice_detail .detail_child {
    text-align: left;
    padding: 5px 10px;
}
#notice_detail .detail_child > span {
    text-align: left;
    padding-left: 20px;
    color: gray;
    font-size: 18px;
}
#notice_detail .detail_content {
    border-top: 1px solid #c4c4c4;
    text-align: left;
    padding: 20px 10px 100px 10px;
    vertical-align: top;
    height: auto;
}
#notice_detail img {
    max-width: 100%;
}


/* Notice List */
#notice_list table {
    width: 100%;
}
#notice_list table th {
    font-weight: 800;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 8px 5px;
    font-size: 20px;
}
#notice_list table td {
    font-weight: 400;
    border-bottom: 1px solid #c4c4c4;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}
#notice_list td {
    color: gray;
}
#notice_list .list_title {
    text-align: left;
}
#notice_list .list_time {
    min-width: 120px;
}
#notice_list .list_update_time {
    min-width: 60px;
}
#notice_list .notice_title {
    width: 50%;
}


/* Button */
#notice_wrap .submit-button {
    float: right;
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid #c4c4c4;
    background-color: white;
    border-radius: 2px;
    margin-top: 5px;
    vertical-align: middle;
}
#notice_wrap .list-button {
    margin-right: 5px;
}



/* Tiny Mobile 화면 */
@media screen and (max-width: 620px) {

    /* Notice List */
    #notice_list table {
        width: 100%;
    }
    #notice_list table th {
        padding: 8px 5px;
        font-size: 18px;
    }
    #notice_list table td {
        padding: 5px 10px;
        font-size: 16px;
    }
    #notice_list .list_time {
        min-width: 90px;
    }
    #notice_list .list_update_time {
        min-width: 52px;
    }
    #notice_list .notice_author {
        min-width: 66px;
    }


    /* Review Detail */
    #notice_detail table td {
        padding: 5px 5px;
    }
    #notice_detail .detail_title {
        text-align: left;
        font-size: 22px;
        font-weight: 800;
        padding: 10px 5px;
    }
    #notice_detail table th,
    #notice_detail .detail_parent {
        padding: 5px 5px;
        font-size: 18px;
    }
    #notice_detail .detail_content {
        padding: 10px 10px 50px 10px;
        font-size: 16px;
    }
    #notice_detail .detail_child {
        padding: 10px;
        font-size: 16px;
    }
    #notice_detail .detail_child > span {
        padding-left: 15px;
        font-size: 15px;
    }


    /* Button */
    #notice_wrap .submit-button {
        font-size: 15px;
        margin-top: 5px;
        padding: 5px 6px;
    }
    #notice_wrap .list-button {
        margin-right: 5px;
    }

}