
/* Editor */
#editor_wrap .ck-editor__main {
    height: 400px;
    font-size: 12px;
}
#editor_wrap .ck-content {
    height: 100%;
    font-size: 12px;
}
#editor_wrap {
    text-align: left;
}
#editor_wrap .editor_title {
    font-size: 12px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 2px;
}
#editor_wrap .editor_author {
    font-size: 12px;
    position: relative;
    left: 0;
    width: 51%;
    height: 30px;
    line-height: 30px;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 2px;
}
#editor_wrap .editor_password {
    font-size: 12px;
    position: relative;
    left: 0;
    width: 51%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 2px;
}


/* Check Password */
#review_check_password .password_txt {
    font-size: 14px;
}
#review_check_password .in_password {
    width: 51%;
    padding: 5px 15px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    font-size: 14px;
}


#board_detail .detail_reply_title {
    width:25%;
    font-weight: 800;
    border-bottom: 1px solid #c4c4c4;
}



/* Button */
#board_wrap .cancel-button {
    margin-right: 5px;
}
#board_wrap .check-list-button {
    float: none;
    margin: 0 0 5px 0;
}
#board_wrap .pass-check-button {
    float: none;
    margin: 0 5px 5px 5px;
}




/* Tiny Mobile 화면 */
@media screen and (max-width: 620px) {

    /* Editor */
    #editor_wrap .ck-editor__main {
        height: 300px;
    }
    #editor_wrap .editor_title {
        margin-bottom: 10px;
    }
    #editor_wrap .editor_author {
        margin-bottom: 10px;
    }
    #editor_wrap .editor_password {
        margin-bottom: 10px;
    }



    #board_detail .detail_reply_title {
        padding: 5px 5px;
    }



    /* Button */
    #board_wrap .check-list-button {
        float: none;
        margin: 0;
    }
    #board_wrap .pass-check-button {
        float: none;
        margin: 0 2px;
    }

}
