#map_wrap {
  width: 100%;
  text-align: center;
}


/* PC 화면 */
@media screen and (min-width: 1000px) {
    #map {
        width: 60%;
        height: 600px;
        text-align: center;
    }
}


/* Mobile 화면 */
@media screen and (max-width: 1000px) {
    #map {
        width: 90%;
        height: 500px;
        text-align: center;
    }
}


/* Tiny Mobile 화면 */
@media screen and (max-width: 500px) {
    #map {
        width: 95%;
        height: 300px;
        text-align: center;
    }
}