#map_wrap {
    width: 100%;
    text-align: center;
}
#map {
    width: 100%;
    margin: 0 auto;
}
.text_center {
    text-align: center;
}
#way_wrap table {
    width: 100%;
    margin: 0 auto;
}
#way_wrap table th {
    font-weight: 800;
    font-size: 20px;
    color: #333;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    padding: 10px 0;
    text-align: center;
}
#way_wrap table td{
    border: 1px solid #dfdfdf;
    font-size: 18px;
    padding: 10px 3px;
    text-align: center;
}
#way_wrap #map_link img {
    width: auto;
    height:35px;
    padding-right: 10px;
    cursor: pointer;
}

/* PC 화면 */
@media screen and (min-width: 1200px) {
    #map {
        height: 600px;
        text-align: center;
    }
    #way_wrap img {
      width: 40%;
    }
    .time_title {
        font-weight: 800;
    }
    .address {
        font-weight: 400;
    }
}


/* Tablet 화면 */
@media screen and (max-width: 1200px) and (min-width: 1000px) {
    #map {
        height: 600px;
        text-align: center;
    }
    #way_wrap img {
      width: 90%;
    }
    .time_title {
        font-size: 16px;
        font-weight: 800;
    }
    .address {
        font-size: 16px;
        font-weight: 400;
    }
    #way_wrap table th {
        font-size: 18px;
    }
    #way_wrap table td {
        font-size: 16px;
    }
}

/* Mobile 화면 */
@media screen and (max-width: 1000px) {
    #map {
        height: 500px;
        text-align: center;
    }
    #way_wrap img {
      width: 90%;
    }
    .time_title {
        font-weight: 800;
    }
    .address {
        font-weight: 400;
    }
    #way_wrap table th {
        font-size: 16px;
    }
    #way_wrap table td {
        font-size: 15px;
    }
}


/* Tiny Mobile 화면 */
@media screen and (max-width: 550px) {
    #map {
        height: 300px;
        text-align: center;
    }
    #way_wrap img {
      width: 100%;
    }
    .time_title {
        font-weight: 800;
    }
    .address {
        font-weight: 400;
    }
    #way_wrap table th {
        font-size: 16px;
    }
    #way_wrap table td {
        font-size: 14px;
    }
}
